@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";

html,
body {
  width: 100%;
  height: 100%;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  padding-left: 0;
  padding-right: 0;
}

.leaflet-bar a {
  background-color: $light;

  &:hover {
    background-color: $gray-200;
    transition: 0.2s;
  }
}
