@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

$dark: #333333;
$card-cap-color: $dark;
$card-cap-bg: $gray-200;
$card-bg: $light;
$card-box-shadow: 0 0.5rem 1rem rgba($gray-300, 0.5);
